$lighter: #fafafa;
$softgray: #ced4da;
$lightgray: #e9ecef;

@import "bootstrap/scss/bootstrap";

body,
html {
  height: 100%;
  background-color: $lightgray;
}

::selection {
  background-color: $softgray;
  color: $dark;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.1rem;
}
